<!-- <div class="flex flex-col space-y-6  ...">
<div class="bg-gradient-to-r from-indigo-500  rounded-lg box-border h-145 w-85 p-18 border-4 ...">
  <span class="title-font font-bold font-size: text-4xl inset-y-1.5 p-4 py-2 text-align: left inline-block align-text-top">Chapter 1: Multiplication</span>
<div class="flex flex-wrap lg:w-1/8 sm:mx-auto sm:mb-2 -mx-2 h-4/5 grid-cols-3 gap-4 content-start ...">
  
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="  hover:bg-gray-300 focus:outline-none focus:ring focus:ring-violet-300 ... title-font font-medium">Equal Groups</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Repeated Additions</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Number Line</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Array: Equal rows and columns</span>
    </div>
  </div>

  <div class="bg-gray-100 flex items-center absolute  right-8 rounded-lg box-border h-25  p-6 border-4 lg:w-1/4 px-4 ...">
    <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4 ">
      <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">PRACTICE</h2>
      <div class="flex xl:flex-nowrap  md:flex-nowrap lg:flex-wrap  absolute inset-y-6 right-4 flex-wrap justify-center items-end md:justify-start">
        <button class="underline-offset-2 lg:mt-12 xl:mt-19 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">Start</button>
      </div>
      <p class="text-gray-500 text-sm mt-2 md:text-center text-right">Multiplication
      </p>
    </div>
  </div>
</div> -->
<!-- </div></div> -->



<html class="snap-y">

<div class="bg-gradient-to-r from-indigo-500 rounded-lg box-border h-200 w-85 p-20 border-4 scroll-ml-10 snap-start ...">
  <span class="title-font font-bold font-size: text-4xl inset-y-1.5 p-4 py-2 text-align: left inline-block align-text-top">Chapter 1: Multiplication</span>
<div class="flex flex-wrap lg:w-1/8 sm:mx-auto sm:mb-2 -mx-2 h-4/5 grid-cols-3 gap-4 content-start ...">
  
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full ">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class=" hover:bg-gray-300 focus:outline-none focus:ring focus:ring-violet-300 ... title-font font-medium">Equal Groups</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Repeated Additions</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Number Line</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Array: Equal rows and columns</span>
    </div>
  </div>

  <div class="bg-gray-100 flex items-center absolute  right-4 rounded-lg box-border h-26  p-6 border-4 lg:w-1/4 px-4 ...">
    <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4 ">
      <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">PRACTICE</h2>
      <div class="flex xl:flex-nowrap  md:flex-nowrap lg:flex-wrap  absolute inset-y-6 right-4 flex-wrap justify-center items-end md:justify-start">
        <button class="underline-offset-2 lg:mt-12 xl:mt-19 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">Start</button>
      </div>
      <p class="text-gray-500 text-3xl mt-2 md:text-center text-right">Multiplication
      </p>
    </div>
  </div>
</div></div>

<div class="bg-gradient-to-r from-indigo-500 rounded-lg box-border h-200 w-85 p-20 border-4 scroll-ml-10 snap-start  ...">
  <span class="title-font font-bold font-size: text-4xl inset-y-1.5 p-4 py-2 text-align: left inline-block align-text-top">Chapter 1: Multiplication</span>
<div class="flex flex-wrap lg:w-1/8 sm:mx-auto sm:mb-2 -mx-2 h-4/5 grid-cols-3 gap-4 content-start ...">
  
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full ">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class=" hover:bg-gray-300 focus:outline-none focus:ring focus:ring-violet-300 ... title-font font-medium">Equal Groups</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Repeated Additions</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Number Line</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Array: Equal rows and columns</span>
    </div>
  </div>

  <div class="bg-gray-100 flex items-center absolute  right-4 rounded-lg box-border h-26  p-6 border-4 lg:w-1/4 px-4 ...">
    <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4 ">
      <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">PRACTICE</h2>
      <div class="flex xl:flex-nowrap  md:flex-nowrap lg:flex-wrap  absolute inset-y-6 right-4 flex-wrap justify-center items-end md:justify-start">
        <button class="underline-offset-2 lg:mt-12 xl:mt-19 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">Start</button>
      </div>
      <p class="text-gray-500 text-3xl mt-2 md:text-center text-right">Multiplication
      </p>
    </div>
  </div>
</div></div>

<!-- <div class="bg-gradient-to-r from-indigo-500 rounded-lg box-border h-200 w-85 p-20 border-4 ...">
  <span class="title-font font-bold font-size: text-4xl inset-y-1.5 p-4 py-2 text-align: left inline-block align-text-top">Chapter 1: Multiplication</span>
<div class="flex flex-wrap lg:w-1/8 sm:mx-auto sm:mb-2 -mx-2 h-4/5 grid-cols-3 gap-4 content-start ...">
  
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full ">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class=" hover:bg-gray-300 focus:outline-none focus:ring focus:ring-violet-300 ... title-font font-medium">Equal Groups</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Repeated Additions</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Number Line</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-3 h-full items-center rounded-full">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="hover:bg-gray-300 title-font font-medium">Array: Equal rows and columns</span>
    </div>
  </div>

  <div class="bg-gray-100 flex items-center absolute  right-4 rounded-lg box-border h-26  p-6 border-4 lg:w-1/4 px-4 ...">
    <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4 ">
      <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">PRACTICE</h2>
      <div class="flex xl:flex-nowrap  md:flex-nowrap lg:flex-wrap  absolute inset-y-6 right-4 flex-wrap justify-center items-end md:justify-start">
        <button class="underline-offset-2 lg:mt-12 xl:mt-19 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110">Start</button>
      </div>
      <p class="text-gray-500 text-3xl mt-2 md:text-center text-right">Multiplication
      </p>
    </div>
  </div>
</div></div> -->



</html>


<!-- <div class="flex flex-wrap lg:w-1/2 sm:mx-auto sm:mb-2 -mx-2">
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="title-font font-medium">Authentic Cliche Forage</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="title-font font-medium">Kinfolk Chips Snackwave</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="title-font font-medium">Coloring Book Ethical</span>
    </div>
  </div>
  <div class="p-2 sm:w-1/2 w-full">
    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg> 
      <span class="title-font font-medium">Coloring Book Ethical</span>
    </div>
  </div> --> 